<form action="javascript:void(0);">
   <div class="row">
      <div class="span4">
         <label> Nombre </label>
         <input type="text" ng-model="nombre" />
      </div>
      <div class="span4">
         <label> Apellido </label>
         <input type="text" ng-model="apellido" />
      </div>
      <div class="span4">
         <label> Paseo </label>
         <input type="text" ng-model="paseo" />
      </div>
      <div class="span4">
         <label> Puesto </label>
         <input type="text" ng-model="puesto" />
      </div> 
   </div>
   <div class="row">
      <div class="span4">
         <input type="button" value="Buscar" class="btn btn-danger" ng-click="buscarEmpleados()" />
      </div>
   </div>
</form>